{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>

<div class="container">
    <div class="header">
        <h1>Pony</h1>
    </div>
    <div class="sidebar">
        <ul>
            {% for key, value in menu.items %}
            <li><a href="{{ value }}">{{ key }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</div>

</body>
</html>