{% extends 'base.html' %}
{% block content %}

<h2>{{ title }}</h2>

<img class="pic" src="https://static.wikia.nocookie.net/mlp/images/4/4b/Rainbow_Dash_Wonderbolt_fantasy_cropped_S1E3.png/revision/latest?cb=20160718084159&path-prefix=ru">

<p class="text">
    Радуга Дэш (англ. Rainbow Dash) — небесно-голубая пони-пегас с радужной гривой и хвостом, являющаяся одним из главных персонажей в сериале. Она ответственна за поддержание погоды и расчистку неба от облаков в Понивилле. По её словам, она может очистить небо ровно за 10 секунд. Также она является большой поклонницей Чудо-молний и мечтает вступить в их ряды, что и произошло в эпизоде «Новичок Дэш». В серии Звуковая радуга, Рарити и Принцесса Селестия заявляют, что она лучший лётчик во всей Эквестрии. Из главной шестёрки она стала последней, кто завёл себе питомца — черепаху по кличке Тэнк. Радуга Дэш представляет элемент верности.
</p>

{% endblock %}