{% extends 'base.html' %}

{% block content %}

<div>
    <h>Comments</h>
    <form autocomplete="off" action="{% url 'form' %}" method="post">
        {% csrf_token %}
        <label for="firstName">First Name</label>
        <input name="firstName" type="text" />
        <label for="lastName">Last Name</label>
        <input name="lastName" type="text" />
        <label for="email">Email</label>
        <input name="email" type="text" />
        <label for="text">Write your review</label>
        <textarea name="text" type="text" /></textarea>
        <button type="submit">Send</button>
    </form>
    <div class="commentContainer">
        {% for comment in forms %}
        <div class="comment">
            <div>Name: {{ comment.firstName }}</div>
            <div>Comment: {{ comment.text }}</div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}