{% extends 'base.html' %}
{% block content %}

<h2>{{ title }}</h2>

<img class="pic" src="https://static.wikia.nocookie.net/mlp/images/d/d8/Applejack_S01E13_cropped.png/revision/latest/scale-to-width-down/238?cb=20130417134543&path-prefix=ru">

<p class="text">
    Эпплджек (англ. Applejack) — земная пони, являющаяся одним из главных персонажей в сериале. Она живёт и работает на ферме «Яблочная Аллея» (Sweet Apple Acres) вместе со своей бабушкой Бабулей Смит, старшим братом Большим Маки и младшей сестрой Эппл Блум, где выращивает различные овощи и фрукты, в основном – яблоки. Кроме того, у неё есть питомец — собака по кличке Вайнона. Эпплджек представляет собой элемент честности. Она – надёжная и верная пони, которая всегда готова помочь всем, кто в этом нуждается, а также – хорошая сестра для Эппл Блум, и помогает ей и её друзьям в приключениях.
</p>

{% endblock %}