{% extends 'base.html' %}
{% block content %}

<h2>{{ title }}</h2>

<img class="pic" src="https://static.wikia.nocookie.net/mlp/images/a/a4/Rarity_ID_card.png/revision/latest/scale-to-width-down/238?cb=20170928202010&path-prefix=ru">

<p class="text">
    Рарити (англ. Rarity) — единорог светло-серого цвета, с гривой пурпурно-синего цвета. Её знак отличия — три ромбовидных бриллианта. Живёт она в Понивилле и является одной из главных героинь в сериале. Она работает как модным дизайнером, так и швеёй в её собственном магазине Бутик Карусель. У неё есть младшая сестра Крошка Белль, а также питомец — белая персидская кошка по кличке Опалесенс (сокращенно Опал). Её характерной чертой является элегантность. Рарити представляет элемент щедрости (благородства).
</p>

{% endblock %}